@font-face {
	font-family: "Helvetica Neue Md";
	src: url('../fonts/HelveticaNeueLTStd-Md.otf');
}

@font-face {
	font-family: "Helvetica Neue Lt";
	src: url('../fonts/HelveticaNeueLTStd-Lt.otf');
}

@font-face {
  font-family: "theantiqua";
  src: url("http://asset.lemde.fr/edito/2.5.0/fonts/theantiquab-w7bold-webfont.woff2") format("woff2"), url("http://asset.lemde.fr/edito/2.5.0/fonts/theantiquab-w7bold-webfont.woff") format("woff");
}

* {
	box-sizing: border-box;
	border: none;
	margin: 0;
	padding: 0;
	color: #222;
	line-height: 21px;
}

header {
	position: fixed;
	width: 100%;
	padding: 12px 20px;
	background-color: #fcfcfd;
	border-bottom: 1px solid #e8eaee;
}

#placeholder {
	position: relative;
	height: 3em;
}

#menu {
	background-image: url(../img/menu_hamburger.svg);
	background-repeat: no-repeat;
	background-position: center center;
	width: 1.3em;
	max-width: 1.5em;
	height: 2em;
	float: left;
}

#logo {
	background-image: url(../img/logo_le_monde.svg);
	background-repeat: no-repeat;
	background-position: center center;
	width: 6em;
	max-width: 7em;
	height: 2em;
	float: left;
	margin-left: 1em;
}

#subscribe {
	display: block;
	width: 50%;
	height: 2em;
	float: left;
	text-align: right;
}

#subscribe p {
	position: absolute;
	top: 50%;
	right: 2%;
	transform: translate(-3%, -50%);
	background-color: #fdc828;
	border-radius: 3px;
	color: #383f4e;
	font-size: 0.78em;
	font-family: "Helvetica Neue Md", Arial, sans-serif;
	line-height: 1.25;
	padding: 8px 12px 5px 12px;
	text-align: center;
	font-weight: bolder;
}

#subscribe p:hover {
	background-color: #fdd662;
}

#main_section {
	width: 85%;
	margin: 0 auto;
	padding-bottom: 1em;
	border-bottom: 1px solid #e8eaee;
}

main img {
	width: 100%;
	overflow: hidden;
}

h4 {
	font-family: "Helvetica Neue Lt", Arial, sans-serif;
	font-size: .5em;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	color: #8b92a1;
}

h2 {
	font-family: "theantiqua", georgia, serif;
	font-size: 1.3em;
	font-weight: 400;
	color: #383f4e;
	line-height: 1.25;
}

h3 {
	font-family: "theantiqua", georgia, serif;
	font-size: 1.1em;
	font-weight: 400;
	color: #383f4e;
	line-height: 1.25;
}

time {
	font-family: "Helvetica Neue Lt", Arial, sans-serif;
	font-size: .9em;
	color: #bdc1c8;
	line-height: 1.1;
}

#main_section > p, .article_txt > p {
	font-family: "Time New Roman", georgia, serif;
	font-size: .75em;
	font-weight: normal;
	color: #222;
	line-height: 1.35;
	padding-top: 0.2em;
}

.article {
	margin-top: 2em;
	padding-bottom: 1em;
	border-bottom: 1px solid #e8eaee;
}

.article:last-child {
	border: none;
}

.article_txt {
	width: 70%;
	margin-right: 5%;
	float: left;
}

.article_img {
	width: 25%;
	float: right;
}

.article_clear {
	clear: both;
}

#third_section_bg {
	background-color: #f5f6f8;
	padding-bottom: 1em;
}

.title, .footer_2_sub > .title {
	font-family: "Helvetica Neue Lt", Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: .15em;
	font-size: .75em;
	padding-top: 1em;
	padding-bottom: 1em;
	border-top: 1px solid #e8eaee;
	border-bottom: 1px solid #e8eaee;
}

.footer_2_sub > .title {
	border: none;
}

.infos {
	font-family: "Helvetica Neue Lt", Arial, sans-serif;
	font-size: .95em;
	padding-top: 1em;
	padding-bottom: 1em;
}

#see_more > a {
	display: block;
	width: 7.5em;
	margin: 1em auto;
	padding: .8em .8em .5em;
	background-color: #383f4e;
	border-radius: 3px;
	text-align: center;
	text-decoration: none;
	font-family: "Helvetica Neue Md", Arial, sans-serif;
	color: #e8eaee;
}

#see_more > a:hover {
	background-color: #464f5f;
}


#footer_1 {
	background-color: #383f4e;
	text-align: center;
	padding: .6em 0;
}

#footer_1 > p, #footer_1 > p.float_left > a {
	color: #e8eaee;
}

#footer_1 > p {
	font-family: "Helvetica Neue Md", Arial, sans-serif;
	font-size: .8em;
}

#footer_1 > p.float_left > a {
	font-family: "Helvetica Neue Lt", Arial, sans-serif;
	font-size: 1em;
}

.footer_2_sub {
	padding-top: 1em;
	margin-bottom: 1em;
	border-top: 1px solid #e8eaee;
}

.footer_2_sub ul {
	list-style: none;
	font-family: "Helvetica Neue Lt", Arial, sans-serif;
	font-size: .9em;
}

.footer_2_sub ul li {
	color: #8b92a1;
}

.footer_3 {
	padding: 1em 0;
	border-top: 1px solid #e8eaee;	
	text-align: center;
}

.footer_3 p {
	font-family: "Helvetica Neue Lt", Arial, sans-serif;
	font-size: .7em;
}

@media (min-width: 768px) {

	#logo {
		width: 10em;
		max-width: 12em;
	}

	#first_section, #second_section, #third_section {
		width: 45%;
		margin: 0 auto;
	}

	#main_section {
		width: 100%;
	}

	.footer_2_sub {
	padding: 0 28%;
	}

}